@model BookStore.WebUI.Models.BookListViewModel

@{
    ViewBag.Title = "ListAll";
}

<h2>ListAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        <div style="top: 104px;" class="col col-lg-3 col-md-3 col-sm-3 text-center tex">
            @Html.Partial("_Menu")
        </div>


        <div class="col col-lg-9 col-md-9 col-sm-9">
            @Html.Partial("_BOOKLIST")

        </div>

    </div>


    <br /><br /> <br /><br />
</div>






